{% extends 'shop/basic.html' %}

{% block title%} About {% endblock %}

{% block css %}
{
    margin-top: 20;


{% endblock %}

{% block body %}





  <body>



<main role="main">

  <div id="myCarousel" class="carousel slide"  data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" ><rect width="100%" height="100%" fill="#777"></rect></svg>
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>Example headline.</h1>
            <p><br>
            <br>
            <br>
            <br>
            <br>
            <br>Hello Guys, Welcome to an ecom website names Mycart Here you can search some awesome products according to your need.
            </p>
            <p><a class="btn btn-lg btn-primary" href="/shop" role="button">Back TO Homepage</a></p>
          </div>
        </div>
      </div>

<br>
<br>
<br>
<br>
<br>
<br>

<br>



  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
     <div class="row">
      <div class="col-lg-4">
          <img class="be6sR" src="https://instagram.fvns1-1.fna.fbcdn.net/v/t51.2885-19/s320x320/105979004_588188988562073_6950070508555536209_n.jpg?_nc_ht=instagram.fvns1-1.fna.fbcdn.net&amp;_nc_ohc=twlg0TqwLDgAX_ZaM9i&amp;oh=acb26145c3401b6eec9517ef3cc51d69&amp;oe=5F4FCBDE" width="60%" height="50%" ><rect width="100%" height="100%" fill="#777"></rect>
<!--        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>-->
        <h2>Madhup Shrivastava</h2>
        <h5>Ist Year,
            BTech(CSE)<br>
          LNCTS,Bhopal<br></h5>
        <p>

        <h6>You can visit his Instagram Profile.</h6></p>
        <p><a class="btn btn-secondary" href="https://instagram.com/themanu__shrivastava?igshid=5yi8k4mv4mud" role="button">Visit Profile</a></p>
      </div>


</body></html>

{% endblock %}
